*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
__pycache__
#submodules/simple-knn/
data/
eval/
depths/
DTU_GT/
output.tex
*.png
*.pdf
MESH_RENDERS/
*.mp4
pgsr_comparison/
